form {
  display: flex;
  flex-direction: column;
}

label {
  display: none;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  background: none;
  resize: none;
  text-align: start;
  padding-top: 10px;
  word-wrap: break-word;
}

.tweetfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
}

.tweetfoot button {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  background: #0057b7;
  color: white;
}

.tweetfoot button:hover {
  color: #fff700;
}

.error {
  border-radius: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
  color: red;
  text-decoration-color: red;
  background-color: #F4D0C3;
}