form {
  display: flex;
  flex-direction: column;

}

label {
  display: none;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: solid;
  background: none;
  resize: none;
  text-align: start
}

.tweetfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
}

.tweetfoot button {
  margin-top: 1em;
  display: flex;
  background: #0057b7;
  color: white;
  justify-content: flex-start;
}

button:hover {
  background: #0057b7;
    color: white;
}

@media (hover: hover) {
  button:hover {
    color: #fff700;
    background: #0057b7;
  }
}

.error {
 
  border-radius: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
  color: red;
  text-decoration-color: red;
  background-color: #F4D0C3;
}